@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 349 41% 100%;
    --foreground: 349 5% 10%;
    --card: 349 41% 100%;
    --card-foreground: 349 5% 15%;
    --popover: 349 41% 100%;
    --popover-foreground: 349 95% 10%;
    --primary: 349 65.2% 13.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 349 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 311 30% 95%;
    --muted-foreground: 349 5% 40%;
    --accent: 311 30% 90%;
    --accent-foreground: 349 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 349 5% 100%;
    --border: 349 30% 82%;
    --input: 349 30% 50%;
    --ring: 349 65.2% 13.5%;
    --radius: 0.5rem;
}
.dark {
    --background: 349 41% 10%;
    --foreground: 349 5% 100%;
    --card: 349 41% 10%;
    --card-foreground: 349 5% 100%;
    --popover: 349 41% 5%;
    --popover-foreground: 349 5% 100%;
    --primary: 349 65.2% 13.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 349 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 311 30% 25%;
    --muted-foreground: 349 5% 65%;
    --accent: 311 30% 25%;
    --accent-foreground: 349 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 349 5% 100%;
    --border: 349 30% 50%;
    --input: 349 30% 50%;
    --ring: 349 65.2% 13.5%;
    --radius: 0.5rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
